In [1]:
import pandas as pd

In [2]:
x={
    "name":["a","b","c"],
    "age":[20,34,32],
    "marks":[9,8,7]
}

In [3]:
x

{'name': ['a', 'b', 'c'], 'age': [20, 34, 32], 'marks': [9, 8, 7]}

In [4]:
type(x)

dict

In [5]:
df=pd.DataFrame(x)

In [6]:
df

  name  age  marks
0    a   20      9
1    b   34      8
2    c   32      7

In [7]:
df.head()

  name  age  marks
0    a   20      9
1    b   34      8
2    c   32      7

In [8]:
df.shape

(3, 3)

In [9]:
df["marks"]

0    9
1    8
2    7
Name: marks, dtype: int64

In [12]:
df["marks"][0]=10

C:\Users\MOHANS~1\AppData\Local\Temp/ipykernel_9844/559207094.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["marks"][0]=10

In [13]:
df

  name  age  marks
0    a   20     10
1    b   34      8
2    c   32      7

In [17]:
file=df.to_excel("myfile..xlsx")

In [18]:
file